<div class="well well-lg page" style="width:100%" ng-controller="newCourseTeams">
    <h1 class="page-header">CAssess Provisioning</h1>
    <div class="container" style="width: inherit;">
        <div class="row">
            <div class="col-md-1" style="margin-right: 20px;">
                <ul class="nav nav-pills navbar-nav navbar-left nav-stacked">
                    <li >
                        <a href="#/create_course" access="super_user" ng-click="setTab(1)">Course</a>
                    </li>
                    <li >
                        <a href="#/create_admins" access="super_user" ng-click="setTab(2)">Professors</a>
                    </li>
                    <li ng-class="{ active: isSet(3) }">
                        <a href="#/create_teams" access="super_user" ng-click="setTab(3)">Teams</a>
                    </li>
                    <li >
                        <a href="#/create_students" access="super_user" ng-click="setTab(4)">Students</a>
                    </li>
                    <li >
                        <a href="#/create_channels" access="super_user" ng-click="setTab(5)">Slack Channels</a>
                    </li>
                    <li >
                        <a href="#/provision_course" access="super_user" ng-click="setTab(6)">Provision Course</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="jumbotron" style="width:100%">
                    <div class="form-group">
                        <div>
                            <p>Message: {{message}}</p>
                        </div>
                        <div>
                            <label>Select Team to manage or add new Team</label>
                            <table class="table table-bordered table-striped" style="border-collapse:collapse; width:97.5%; table-layout:fixed; margin-bottom:0px;">
                                <tr>
                                    <th style="width:5%; overflow:hidden; white-space: nowrap;"><span>TG</span></th>
                                    <th style="width:5%; overflow:hidden; white-space: nowrap;"><span>GH</span></th>
                                    <th style="width:15%; white-space: nowrap;">Team Name</th>
                                    <th style="width:20%; white-space: nowrap;">Taiga Slug</th>
                                    <th style="width:20%;">Taiga Custom Attribute</th>
                                    <th style="width:15%;">GitHub Owner</th>
                                    <th style="width:15%; white-space: nowrap;">GitHub Repo</th>
                                    <th style="width:20%; white-space: nowrap;">GitHub Token</th>
                                </tr>
                            </table>
                            <div style="overflow-y: scroll; max-height:200px;  margin-top:0px;">
                                <table class="table table-bordered table-striped" style="border-collapse:collapse; width:100%; table-layout:fixed; margin-top:0px;">
                                    <tbody>
                                        <tr ng-repeat="team in teams" ng-click="setClickedTeam($index)" ng-class="{'selected':$index == selectedRow}">
                                            <td style="width:5%; height: 20px; overflow:hidden;">
                                                <span ng-hide={{team.hideTaigaOk}} class="ng-hide glyphicon glyphicon-ok" style="color:green;" align="center"></span>
                                                <span ng-hide={{team.hideTaigaRemove}} class="ng-hide glyphicon glyphicon-remove" style="color:red;" align="center"></span>
                                            </td>
                                            <td style="width:5%; height: 20px; overflow:hidden;">
                                                <span ng-hide={{team.hideGitHubOk}} class="ng-hide glyphicon glyphicon-ok" style="color:green;" align="center"></span>
                                                <span ng-hide={{team.hideGitHubRemove}} class="ng-hide glyphicon glyphicon-remove" style="color:red;" align="center"></span>
                                            </td>
                                            <td style="width:15%; height: 20px; overflow:hidden; text-overflow: ellipsis;">{{team.team_name}}</td>
                                            <td style="width:20%; height: 20px; overflow:hidden; text-overflow: ellipsis;">{{team.taiga_project_slug}}</td>
                                            <td style="width:20%; height: 20px; overflow:hidden; text-overflow: ellipsis;">{{team.taiga_custom_attribute}}</td>
                                            <td style="width:15%; height: 20px; overflow:hidden; text-overflow: ellipsis;">{{team.github_owner}}</td>
                                            <td style="width:15%; height: 20px; overflow:hidden; text-overflow: ellipsis;">{{team.github_repo_id}}</td>
                                            <td style="width:20%; height: 20px; word-break: break-all; overflow:hidden; text-overflow: ellipsis;">{{team.github_token}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="container" style="max-width:600px;margin:auto;">
                            <form role="form">
                                <div class="form-group">
                                    <label>Team Name</label>
                                    <input type="text" class="form-control" ng-model="enteredTeamName" placeholder="Enter team name" required>
                                </div>
                                <div class="form-group">
                                    <label>Taiga Project Slug</label>
                                    <input type="text" class="form-control" ng-model="enteredTaigaSlug" placeholder="Enter Taiga Slug" ng-required="true" ng-change="setTaigaUnverified()">
                                    <button ng-click="verifyTaiga()" class="btn btn-primary">Verify Taiga</button>
                                    <span ng-show="taigaVerified" class="ng-hide glyphicon glyphicon-ok" style="color:green;">Verified</span>
                                    <span ng-show="taigaNotVerified" class="ng-hide glyphicon glyphicon-remove" style="color:red;">Unverified</span>
                                </div>
                                 <div class="form-group">
                                    <input type="checkbox" ng-model="hasTaigaCustomAttribute" ng-click="toggleCustomAttributeFlag()"/> Has Custom Attribute?
                                </div>
                                <div ng-show="hasTaigaCustomAttribute" class="form-group">
                                    <label>Taiga Custom Attribute</label>
                                    <input type="text" class="form-control" ng-model="enteredTaigaCustomAttribute">
                                </div>
                                <div class="form-group">
                                    <label>GitHub Owner</label>
                                    <input type="text" class="form-control"ng-model="enteredGitHubOwner" placeholder="Enter GitHub owner" ng-required="true" ng-change="setGitHubUnverified()">
                                </div>
                                <div class="form-group">
                                    <label>GitHub Repo Id</label>
                                    <input type="text" class="form-control"ng-model="enteredGitHubRepo" placeholder="Enter GitHub Repo Id" ng-required="true" ng-change="setGitHubUnverified()">
                                </div>
                                <div class="form-group">
                                    <label>GitHub Token</label>
                                    <input type="text" class="form-control"ng-model="enteredGitHubToken" placeholder="Enter GitHub token" ng-required="true" ng-change="setGitHubUnverified()">
                                    <button ng-click="openModal('githubTokenModal')" class="btn btn-primary">How</button>
                                    <button ng-click="openModal('githubTokenPersonModal')" class="btn btn-primary">Who</button>
                                    <button ng-click="verifyGitHub()" class="btn btn-primary">Verify GitHub</button>
                                    <span ng-show="gitHubVerified" class="ng-hide glyphicon glyphicon-ok" style="color:green;">Verified</span>
                                    <span ng-show="gitHubNotVerified" class="ng-hide glyphicon glyphicon-remove" style="color:red;">Unverified</span>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" ng-model="isPrivateRepo" ng-click="toggleIsPrivateRepo()"/> Private Repository?
                                </div>
                                <div ng-show="isPrivateRepo" class="form-group">
                                    <label>GitHub Token</label>
                                    <input type="text" class="form-control"ng-model="enteredGitHubToken" placeholder="Enter GitHub token" ng-required="true" ng-change="setGitHubUnverified()">
                                <div class="form-group">
                                    <label>Slack Team Id</label>
                                    <input type="text" class="form-control"ng-model="enteredSlackTeam" placeholder="Enter Slack Team" ng-required="false">
                                </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1 pull-right">
                <ul class="nav navbar-nav navbar-right nav-stacked">
                    <div>
                        <button ng-really-message="Remove Team?"? ng-really-click="removeTeam()" class="btn btn-primary">Remove Team</button>
                    </div>
                    <div>
                        <button ng-click="editTeam()" class="btn btn-primary">Edit Team</button>
                    </div>
                    <div>
                        <button ng-click="clearTeamForm()" class="btn btn-primary">Clear Form</button>
                    </div>
                    <div>
                        <button id="saveTeam" ng-click="saveTeam()" class="btn btn-primary">Save Team</button>
                    </div>
                    <br>
                    <div>
                        <label class="btn btn-primary">Teams CSV Upload
                            <input type="file" name="file" onchange="angular.element(this).scope().handleFiles(this.files)" accept=".csv" style="display:none">
                        </label>
                    </div>
                    <div>
                        <button ng-click="fetchTeamCanvas()" class="btn btn-primary" id = "teamCanvasBtn">Import team from canvas</button>
                    </div>
                </ul>
            </div>
        </div>

        <!-- Dialogue box for information on how to generate github token -->
        <div id="githubTokenModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close" ng-click = "closeModal('githubTokenModal')">&times;</span>
                    <h2>How to get the github access token?</h2>
                </div>
                <div class="modal-body">

                    <h4>Step 1:  </h4>
                    <p>go to the url <a href="https://github.com/">https://github.com/</a> and log in</p>
                    <h4>Step 2:  </h4>
                    <p>go to your profile, click on setting button.</p>
                    <h4>Step 3:  </h4>
                    <p>scroll all the way down till you reach last option on left side Panel.</p>
                    <h4>Step 4:  </h4>
                    <p>click on developer settings> personal access token.</p>
                    <h4>Step 5:  </h4>
                    <p>generate a token, name it as you like, give only reading rights to the
                        Token.</p>
                    <h3> Your github access Token will be generated. </h3>
                </div>
                <div class="modal-footer">
                    <button ng-click = "closeModal('githubTokenModal')" class="btn btn-primary">ok</button>
                </div>
            </div>

        </div>

        <!-- Dialogue box for information on whose access token should be added as github token -->
        <div id="githubTokenPersonModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close" ng-click = "closeModal('githubTokenPersonModal')">&times;</span>
                    <h2>Whose Github token needs to be added?</h2>
                </div>
                <div class="modal-body">
                    <h3>There can be three options based on the scenario. </h3>
                    <h4>Scenario 1:</h4>
                    <p>Professor is added as member <b>all</b> the team's Github repository. In this case Github token will be of Professor. Same Github token for all the teams</p>
                    <h4>Scenario 2:</h4>
                    <p>TA is added as member <b>all</b> the team's Github repository. In this case Github token will be of TA. Same Github token for all the teams</p>
                    <h4>Scenario 3:</h4>
                    <p>Neither TA nor Professor is part of <b>all</b> the Github repository, Token can be of any one team member who is a part of that particular team. In this case Github token for each team will be different. 1 token per team.</p>
                </div>

                <div class="modal-footer">
                    <button ng-click = "closeModal('githubTokenPersonModal')" class="btn btn-primary">ok</button>
                </div>
            </div>

        </div>
        <!-- Dialogue box for showing dropdown menu for fetched canvas teams based on course id and canvas token -->
        <div id="teamsDropDownModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close" ng-click = "closeModal('teamsDropDownModal')">&times;</span>
                    <h2>Import from canvas</h2>
                </div>
                <div class="modal-body">
                    <label style="color: black">Select Team: </label>
                    <select class="select_style"  ng-model="selectedCanvasTeams" ng-options="x.name for x in canvasTeams">
                    </select>
                </div>
                <div class="modal-footer">
                    <button ng-click = "fillUpTeams()" class="btn btn-primary">Submit</button>
                </div>
            </div>

        </div>
    </div>
</div>
